[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
passlib = "*"
bcrypt = "*"
pymysql = "*"
sqlalchemy = "<2"
pydantic = "==1.10.1"
Pillow = "*"
python-multipart = "*"
fastapi = "*"
uvicorn = "*"
mysql-connector-python = "*"
pandas = "*"
openpyxl = "*"
fastapi-pagination = "*"
pyjwt = "*"
fastapi-mail = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
main = "python main.py"
